.sidebar {
    width: 288px;
    overflow: auto;
    height: 100vh;
    padding: 16px 16px 10px;
    background-color: #f7f6f2 !important;
    position: sticky;
    top: 0;
}


.divider {
    margin: 20px 0;
    width: 100%;
    border: 1px solid rgba(5, 5, 5, 0.06);
}

.sidebarLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.sidebar .linkItem {
    display: flex;
    align-items: center;
    height: 40px;
    transition: all .5s ease-in-out;
    padding: 7px 12px !important;
    border-radius: 8px;
}

.activeLinkItem {
    background-color: rgba(140, 83, 0, .1) !important;
    color: #5b3600 !important;
    font-weight: 700;
}

.linkItem svg {
    width: 22px;
    height: 22px;
    margin-right: 12px;
    color: #5b3600!important;
}

.linkItem span {
    color: rgb(0 0 0 / 88%);
    font-size: 16px;
}

.footer {
    width: 160px;
    padding: 8px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 4px 4px 24px 0 rgba(0, 0, 0, .12);
    height: 80px;
    position: fixed;
    bottom: 20px;
    left: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    z-index: 99;
}

.footerLink {
    cursor: pointer;
    padding: 10px;
    border-radius: 32px;
    background: #ece5d9;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    width: 100%;
}

.footer img {
    border-radius: 50%;
}

.footerText {
    display: flex;
    gap: 6px;
    color: #000;
}

.footerText span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}